<div class="main-actions">
  <button class="big-action-button" aria-label="{{ 'QURAN_CONTEST' | translate }}" (click)="openQuran()">
    <img src="assets/icons/quran_mushaf.png" class="icon raster" alt="Quran">
    <span class="btn-label">{{ 'QURAN_CONTEST' | translate }}</span>
  </button>
  <button class="big-action-button" aria-label="{{ 'DAILY_CONTEST' | translate }}" (click)="openDaily()">
    <img src="assets/icons/daily_checklist.svg" class="icon" alt="">
    <span class="btn-label">{{ 'DAILY_CONTEST' | translate }}</span>
  </button>
</div>
